.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-wrap {
  display: flex;
  width: 100%;
}
.login-form-Submit-button {
  width: 50%;
}
.login-form-Register-button {
  width: 50%;
}
